
// CSSOM css object model
// window.getComputedStyle(document.getElementById('imagen'))   --->obtener el elemento
// window.getComputedStyle(document.getElementById('imagen')).getPropertyValue('height')---->obtener el atributo del elemento




:root{
    --nombre:'alvaro';
}

h2{
    background-color: aquamarine;
    &::after{
        content: var(--nombre);
    }
}