/* UNIDADES DE MEDIDIDA relativas

vw--->ancho del viewport
vh-->alto del viewport
vmin-->minimo del lado del viewport
porcentajes
vmax-->maximo del lado  del viewport


em-->TAMAÑO DE FUENTE DEL CONTEXTO
    100% DEL TAMAÑO DE FUENTE EN EL CONTEXTO
rem-->TAMAÑO DE FUENTE DEL ROOT
    100% del tamaño de fuente del root
UNIDADES ABSOLUTAS 
PX

x


*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --scroll-size:13px;
}

header{
    background-color: red;
    color:#fff;
    text-align: center;
    padding: 5vmin 0;
}
body{
    min-height:100vh;
    display: flex;
    flex-direction: column;

}


footer{
    margin-top:auto;
    background: goldenrod;
    padding:1em;
    width: calc(95vw - var(--scroll-size) );

}