/* UNIDADES DE MEDIDIDA relativas

vw--->ancho del viewport
vh-->alto del viewport
vmin-->minimo del viewport
porcentajes
em-->TAMAÑO DE FUENTE DEL CONTEXTO
    100% DEL TAMAÑO DE FUENTE EN EL CONTEXTO
rem-->TAMAÑO DE FUENTE DEL ROOT
    100% del tamaño de fuente del root
UNIDADES ABSOLUTAS 
PX

x


*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: red;
    color:#fff;
    text-align: center;
    padding: 5vmin 0;
}
p{
    background: goldenrod;
    margin: 2em;
    font-size:1.5em;
}

.conteiner{
    display: flex;
    flex-wrap: wrap;
}
p{
    flex:1 1 15rem;
    font-size: 2em;
}
strong{
    font-size: 2em;
}

span{
    font-size: 2em;
}



